/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  position: fixed; /* Set the navbar to fixed position */
    top: 100px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(38, 22, 184);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.Header
{
  background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
  position: fixed;
  margin: 0px;
  left: -50px;
  top: 0px;
  width: 1500px;
  height: 100px;
  
}

.button
{
  top: 400px;
  }


.table {
  border-collapse: collapse;
  border: 2px rgb(255, 255, 255) solid;
  font: 13px sans-serif;
  width: 50%;  
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 50px;
  color:#ffffff;                               
}

.td {
  border: 1px rgb(255, 255, 255) solid;
  padding: 5px;
  height:20px;
  }
  
.tr {
  text-align:center;
  padding: 5px;
  }

.div1 { 
text-align:center;
}

.main
{
  
  height: 100%;
  margin-top: 200px;
  margin-bottom: 50px;
}

.textstyle
{
  position: relative;
  text-align: center;
  top: 150px;
  color:#ffffff;
  font: 20px veranda, sans-serif;
  
}

.footer
{
  background-color: #000000;
  color:#ffffff;
  position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0%;
    left: 0px;
    right: 0px;
  font: 12px veranda, sans-serif;
  }
.logo
{
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0px;
  bottom: 0px;
}

.bodystyleindex
{
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
}