/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  position: fixed; /* Set the navbar to fixed position */
    top: 100px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0px;
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(38, 22, 184);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.Header
{
  background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
  position: fixed;
  margin: 0px;
  left: -50px;
  top: 0px;
  width: 1500px;
  height: 100px;
  z-index: 2;
  
}

.button
{
  top: 400px;
  }

.main
{
  
  height: 100%;
  margin-top: 200px;
  margin-bottom: 50px;
}

.maingallery
{
  
  height: 100%;
  margin-top: 150px;
  margin-bottom: 0px;
}

.textstyle
{
  text-align: center;
  color:#ffffff;
  font: 20px veranda, sans-serif;
  
}

.footer
{
  background-color: #000000;
  color:#ffffff;
  position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0%;
    left: 0px;
    right: 0px;
  font: 12px veranda, sans-serif;
  }
.logo
{
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0px;
  bottom: 0px;
}

.bodystyleindex
{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
}

* {box-sizing: border-box} 

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top: 160px;
  margin: 0;
  height: 400px;
}

.slideshow-containerindex
{
  display:block;
  position: relative;
  width: 50%;
  top: 160px;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
}

.slideshow-containergallery
{
  display:block;
  position: relative;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  left: 680px;
  width: 100%;
  text-align: left;
}

.textwaitomo {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: right;
}

.textgallery {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #443f3f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: 50px;
  left: 10px;
  
}

.dotcontainer
{
  position: absolute;
  top: 500px;
  width: 100%;
}

.dotcontainergallery
{
  position: absolute;
  top: 530px;
  width: 100%;
}

.dotgallery {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: 50px;
  left: 10px;
  
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade { 
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fadeindex { 
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.video1
{
  position: absolute;
  top: 150px;
  left: 20px;
}

.video2
{
position: absolute;
top: 150px;
right: 20px;
}

.video3

{
position: absolute;
top: 600px;
left: 20px;
padding-bottom: 100px;
}

.video4
{
position: absolute;
top: 600px;
right: 20px;
padding-bottom: 100px;
}

.northisland
{
  position: fixed;
  top: 160px;
  left: 0px;
}

.southisland
{
  position: fixed;
  top: 190px;
  right: 0px
}

audio { 
  display:none;
}

.moscowtitletxt {
  color: #ffffff;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 150px;
  left: 700px;
  text-align: left;
}

.moscowbodytxt {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 200px;
  left: 700px;
  text-align: left;
  padding-bottom: 50px;
}

.reftxt {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 150px;
  left: 10px;
  text-align: left;
  padding-bottom: 50px;
}